/* ---------------------------------------- main ---------------------------------------- */
:root {
    --col_h1: rgba(255, 255, 255, 1);
    --col_p: rgba(180, 180, 180, 1);
    --col_navpage: rgba(15, 17, 17, 0.7);
    --col_card: rgba(15, 17, 17, 0.9);
    --col_active: rgba(0, 190, 165, 1);
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scrollbar-width: none;
}

body {
    background-image: url("media/BG.gif");
    background-color: var(--col_card);
    background-repeat: no-repeat;
    background-size: cover;
    word-wrap: break-word;
    margin: 0%;
    min-height: 100%;
    min-width: 100%;
}

/* ---------------------------------------- texts, images, buttons ---------------------------------------- */
p {
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 0.12em;
    color: var(--col_p);
}

h1 {
    font-size: 1.2em;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 0.12em;
    color: var(--col_h1);
}

.buttontab,
summary {
    font-size: 1.2em;
    font-weight: 800;
    font-family: sans-serif;
    letter-spacing: 0.12em;
    color: var(--col_h1);
    transition: letter-spacing 0.5s;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.buttontab:hover,
summary:hover {
    letter-spacing: 0.18em;
    color: var(--col_active);
    transition: letter-spacing 0.5s;
}

.buttontab::after {
    content: "";
    display: flex;
    margin-top: 0.4em;
    width: 2em;
    height: 0.2em;
    border-radius: 0.1em;
    background: var(--col_active);
    transition: width 0.5s;
}

.buttontab.active::after {
    width: 100%;
    transition: width 0.5s;
}

summary::marker {
    color: var(--col_active);
}

/* ---------------------------------------- nav ---------------------------------------- */
nav {
    justify-content: space-between;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom: 1px solid var(--col_active);
    background-color: var(--col_navpage);
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
}

nav>img {
    height: 1.6em;
    padding: 0em 1em 0em 1em;
}

/* ---------------------------------------- page, tab menu ---------------------------------------- */
.page {
    border-radius: 1em;
    margin: 1em;
    padding: 1em 1em 0em 1em;
    background-color: var(--col_navpage);
    min-height: calc(100vh - 6em);
}

.tab-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}

/* ---------------------------------------- tab, card ---------------------------------------- */
.tab {
    display: none;
    column-count: 2;
}

.tab.active {
    display: block;
}

.card {
    background-color: var(--col_card);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    break-inside: avoid;
    transition: border-radius 0.5s;
}

.card:hover {
    border-radius: 1.5em;
    transition: border-radius 0.5s;
}

.tab.tech {
    column-count: 1;
}

#technologies .card p {
    display: inline-block;
    padding: 1em 2em 1em 2em;
    color: var(--col_h1);
}

.card>h1 {
    padding-left: 2.2em;
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

.card>a::after {
    content: "";
    display: flex;
    width: 100%;
    height: 0.2em;
    border-radius: 0.1em;
    background: var(--col_active);
}

.card>img {
    width: 100%;
}

.card>a {
    height: 2em;
    float: left;
    transition: transform 0.5s;
}

.card>a:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(54%) sepia(73%) saturate(2953%) hue-rotate(136deg) brightness(98%) contrast(101%);
    transition: transform 0.5s;
}

.card>a>img {
    height: 100%;
}

/* ---------------------------------------- responsive ---------------------------------------- */

@media (max-width: 900px) {
    .tab {
        column-count: 1;
    }

    h1,
    .buttontab,
    summary {
        font-size: 2vw;
    }

    nav>img {
        height: 3vw;
    }
}