/* ---------------------------------------- main ---------------------------------------- */
:root {
    --col_h1: rgba(255, 255, 255, 1);
    --col_p: rgba(180, 180, 180, 1);
    --col_navpage: rgba(15, 17, 17, 0.7);
    --col_card: rgba(15, 17, 17, 0.9);
    --col_active: rgba(0, 190, 165, 1);
    --size_main: min(1em, 2vw);
    --size_p: min(1em, 2.6vw);
    --size_h1: min(1.2em, 3vw);
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scrollbar-width: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    background-color: var(--col_active);
    background-image: url("media/BG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

video {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: none;
    position: fixed;
    object-fit: cover;
    object-position: center center;
}

video.can-play {
    display: block;
}

/* ---------------------------------------- blocks ---------------------------------------- */
nav {
    width: 100vw;
    height: calc(var(--size_main)*2.5);
    border-bottom-left-radius: var(--size_main);
    border-bottom-right-radius: var(--size_main);
    background-color: var(--col_navpage);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page {
    margin: var(--size_main);
    min-height: calc(100vh - (var(--size_main)*6.5));
    border-radius: var(--size_main);
    background-color: var(--col_navpage);
    padding: var(--size_main);
}

.tab-menu {
    display: flex;
    justify-content: space-around;
}

.tab {
    display: none;
}

.col-left,
.col-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.col-left {
    padding-right: var(--size_main);
}

#tab-cert:checked~#certificates,
#tab-ctf:checked~#ctfwriteups {
    display: flex;
}


@media (max-width: 800px) {
    .tab {
        flex-direction: column;
    }

    .col-left,
    .col-right {
        width: 100%;
    }
}

.card {
    margin-top: var(--size_main);
    padding: var(--size_main);
    border-radius: var(--size_main);
    background-color: var(--col_card);
    transition: border-radius 0.5s;
}

/* ---------------------------------------- texts, images, buttons ---------------------------------------- */
h1,
a,
label,
summary {
    margin: 0vw;
    padding: 0vw;
    font-size: var(--size_h1);
    font-weight: 800;
    font-family: sans-serif;
    letter-spacing: calc(var(--size_h1)/10);
    color: var(--col_h1);
}

p {
    margin: 0vw;
    padding: 0vw;
    font-size: var(--size_p);
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: calc(var(--size_p)/10);
    color: var(--col_p);
}

a,
label,
summary {
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    transition: letter-spacing 0.5s, color 0.5s;
}

details>p {
    margin: 0vw 0vw 0vw var(--size_main);
}

p,
.card>h1 {
    margin: calc(var(--size_main)/2) 0vw calc(var(--size_main)/2) 0vw;
}

nav>img {
    height: 60%;
    padding: 0vw calc(var(--size_main)/2) 0vw calc(var(--size_main)/2);
}

.card>img {
    max-height: calc(var(--size_main)*27);
    max-width: 100%;
}

span,
summary::marker {
    color: var(--col_active);
}

label::after {
    content: "";
    display: flex;
    margin-top: calc(var(--size_main)/4);
    width: calc(var(--size_main)*3);
    height: calc(var(--size_main)/5);
    border-radius: var(--size_main);
    background: var(--col_active);
    transition: width 0.5s;
}

/* ---------------------------------------- animations ---------------------------------------- */
a:hover,
label:hover,
summary:hover {
    letter-spacing: calc(var(--size_h1)/6);
    color: var(--col_active);
    transition: letter-spacing 0.5s, color 0.5s;
}

.card:hover {
    border-radius: calc(var(--size_main)*1.5);
    transition: border-radius 0.5s;
}

#tab-cert:checked~.tab-menu label[for="tab-cert"]::after,
#tab-ctf:checked~.tab-menu label[for="tab-ctf"]::after {
    width: 100%;
    transition: width 0.5s;
}